.benefits {
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin-top: 79px;
}

.benefits__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 24px;
  background-color: rgba(0, 23, 38, .9);
  width: 620px;
}

.benefits__img {
  padding: 10px 4px 11px 18px;
  width: 35px;
}

.benefits__img:nth-child(2), 
.benefits__img:last-child {
  padding-left: 0;
}

.benefits__description {
  margin: 0;
  padding: 0;
  color: #fff;
}

.benefits__title {
  margin: 0;
  padding: 10px 10px 0;
  font-size: 24px;
  font-family: 'Exo 2.0';
  font-weight: bold;
}

.benefits__text {
  margin: 0;
  padding: 3px 10px 13px;
  font-family: 'Exo 2.0';
  font-size: 14px;
}

@media (min-width: 320px) and (max-width: 599px) {
  .benefits {
    z-index: 15;
    margin-top: 30px;
  }
  
  .benefits__item {
    max-width: 100%;
  }
    
  .benefits__text {
    font-size: 20px;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .benefits {
    margin-top: 25px;
    width: 70%;
  }

  .benefits__item {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .benefits {
    padding-left: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .benefits {
    width: 50%;
  }

  .benefits__item {
    width: 100%;
  }
}
