.body-page {
  display: -ms-flexbox;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  background: url(../img/bgi.jpg) center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: 'Exo 2.0';
}

@media (min-width: 320px) and (max-width: 479px) {
  .body-page {
    background-size: cover;
    background-color: rgb(213, 243, 201);
  }
}