.body-page {
  margin: 0;
  background: url(../img/bgi.jpg) center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: 'Exo 2.0';
}

.body__man {
  position: absolute;
  bottom: 0;
  left: 33%;
  width: 750px;
  height: 670px;
  z-index: 11;
}


/*телефоны портретно*/
@media (min-width: 320px) and (max-width: 479px) {
  .body-page {
    background-size: cover;
    background-color: rgb(213, 243, 201);
  }
  
  .body__man {
    position: absolute;
    bottom: -8px;
    left: 55%;
    z-index: 10;
    width: 150px;
    height: 200px;
  }
}

@media (min-width: 480px) and (max-width: 599px) {
  
}

@media (min-width: 600px) and (max-width: 767px) {
  
}

@media (min-width: 768px) and (max-width: 1023px) {
  
}

@media (min-width: 1024px) and (max-width: 1199px) {

}
